@use "swiper/scss";

@use "base/typography";

@use "base/container";

@use "base/buttons";

@use "components/swiper";

@use "components/pagination";

@use "components/main-menu";

@use "components/form";

@use "components/footer-menu";

@use "components/menu-simple";


html,
body {
  --wp--preset--spacing--20: 20px;
  --wp--preset--spacing--40: 40px;
  --wp--preset--spacing--80: 40px;
  --wp--preset--spacing--120: 60px;
  --wp--preset--spacing--160: 80px;

  scroll-behavior: smooth;

  @apply font-body text-font;

  @media (width >= 768px) {
    --wp--preset--spacing--80: 80px;
    --wp--preset--spacing--120: 120px;
    --wp--preset--spacing--160: 160px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

  .material-symbols-rounded {
    font-size: inherit;
  }
}
