{% if link.url %}
    <a href="{{ link.url }}" class="btn {{ style|default('btn--solid') }} w-fit" target="{{ link.target|default('_self') }}">

		{% if icon %}
			{% include 'atoms/icon.twig' %}
		{% endif %}

        {{ link.title|raw }}

	</a>
{% endif %}

