{% if url %}
	<a href='{{ url }}' class='underline hover:no-underline font-bold' target='{{ target|default('_self') }}'>
		{% if icon %}
			{% include 'atoms/icon.twig' %}
		{% endif %}

		{{ title|raw }}
	</a>
{% endif %}