{% set hide_title = true %}
{% set size = '32' %}
{% set color = 'fill-current hover:opacity-80' %}
<div class="flex gap-4 md:gap-6">
    {% for media, social in socials %}
        {% include 'atoms/social-link.twig' with social %}
    {% endfor %}
</div>
