<div class="grid gap-2">
    {% include 'atoms/heading/h6.twig' with {title: 'Volg ons'|translatable, class: 'font-body mb-0'} %}
    {% for media, social in socials %}
        {% include 'atoms/social-link.twig' with social %}
    {% endfor %}
</div>
