<section id="{{ anchor }}" class="{{ class_name }}" style="{{ style|raw }}">
    <div class="{{ container|default('container') }}">
        {% include 'atoms/heading/h4.twig' %}
        {% include 'molecules/anchors.twig' %}
    </div>
</section>
