<section class="py-10 md:py-20 {{ background|default('bg-secondary-light') }}">
    <div class="container">
        <div class="grid gap-4md:gap-6 md:grid-cols-12">
            <div class="md:col-span-6 lg:col-span-5">
                {% include 'molecules/content.twig' %}
                <div class="mt-5 md:mt-10">
                    {% include 'molecules/follow-links.twig' %}
                </div>
            </div>
            <div class="md:col-span-6 lg:col-start-7">
                {% include 'molecules/highlight-card.twig' with highlight %}
            </div>
        </div>
    </div>
</section>
