<section class="section">
    <div class="container">
        <form action="{{ archive_url }}" class="flex flex-wrap gap-4 py-6 items-center justify-between border-b border-neutral-25">
            <div>
                {% include 'molecules/filters.twig' with filters %}
            </div>
            <div>
                {% include 'molecules/sort.twig' with sort %}
            </div>
            {% if add_search %}
                {% include 'atoms/form/input.twig' with {type: 'hidden', name: 's', value: search|default('')} %}
            {% endif %}
        </form>
    </div>
</section>
