<section id="{{ anchor }}" class="{{ class_name }}" style="{{ style|raw }}">
    <div class="{{ container|default('container') }}">
        <div class="grid gap-4 md:gap-6 md:grid-cols-3">
            {% for card in cards %}
                {% include 'molecules/content-card.twig' with card %}
            {% endfor %}
        </div>
    </div>
</section>
