<section id="{{ anchor }}" class="{{ class_name }}" style="{{ style|raw }}">
    <div class="{{ container|default('container') }}">
        {% include 'molecules/form-card.twig' %}
    </div>
</section>
